#search {
    border-color: teal;
    border-radius: 20px;
    border-width: 3px;
    height: 40px;
    width: 180px;
    color:teal;
    font-weight: bold;
}
#plus {
    background-color: teal;
    border-radius: 50px;
    color: white;
    width: 30px;
    height: 30px;
    border-color: teal;
    font-weight: bold;
    font-size: large;
}
#create_account {
    background-color: blue;
    color: white;
    height: 50px;
    width: 200px;
    font-size: large;
    box-shadow: 5px 10px black;
}
div {
    padding-bottom: 10px;
    padding-left: 50px;
}
#topdiv {
    padding-top: 50px;
}